.heading-text {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.my-books {
    font-size: 1.4rem;
    margin-top: 7%;
}

#book-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
}

#book-form > div {
    
    margin-top: 16px;
      
}

#library {
    flex-wrap: wrap;
    display: flex;
    width:  80%;
    margin: 0 auto;
}

#library > div {
    margin-top: 2%;
}

.card {

}

.read {
    background-color: rgb(32, 173, 126);
}